{% extends "base.html" %}

{% block page_title %}
  To-do list
{% endblock page_title %}



{% block content %}
  <h1>To do list</h1>
  {% if todo_list %}
  
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Created at</th>
        <th scope="col">Deadline</th>
        <th scope="col">Finished at</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
        {% for todo in todo_list  %}
          <tr>
            <th scope="row">{{todo.id}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.data_created}}</td>
            <td>{{todo.deadline}}</td>
            <td>{{todo.finished_data|default:"-"}}</td>
            <td>
              <a href="#" class= "btn btn-primary">Finished</a>
              <a href="{% url "todo_update" pk=todo.pk %}"class ="btn btn-secundary btn-sm">Edit</a>
              <a href="{% url "todo_delete" pk=todo.pk %}" class= "btn btn-danger">Delete</a>
            </td>
           </tr>
          {% endfor %}
      </tbody>
      </table>
  {% else %}
    <p>No to-do here</p>
  {% endif %}

  <a href="{% url 'todo_create'%}">New task</a>
        

{% endblock content %}
        
        
